<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Notadesigner.Pulsar.Windows.Properties.Preferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Notadesigner.Pulsar.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Notadesigner.Pulsar.Windows.Properties.Preferences>
            <setting name="SelectedMovementStrategy" serializeAs="String">
                <value />
            </setting>
        </Notadesigner.Pulsar.Windows.Properties.Preferences>
        <Notadesigner.Pulsar.Windows.Properties.Settings>
            <setting name="SelectedMovementStrategy" serializeAs="String">
                <value />
            </setting>
        </Notadesigner.Pulsar.Windows.Properties.Settings>
    </userSettings>
</configuration>